<div class="docs-primary-header">
    <h1>Action Items</h1> <h1>Sprint 01</h1>
</div>

<div class="action-card">
    <div fxLayout="row" class="expansion-panel-header">
        <div fxFlex="95">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <h3>This is the expansion title</h3>
                </mat-expansion-panel-header>

                <p>This is the primary content of the panel.</p>
                <mat-divider></mat-divider>
                <mat-selection-list>
                    <mat-list-option>
                        test 01
                    </mat-list-option>
                </mat-selection-list>
                <mat-selection-list>
                    <mat-list-option>
                        test 01
                    </mat-list-option>
                </mat-selection-list>
            </mat-expansion-panel>
        </div>
        <div fxFlex="5">
            <mat-checkbox class="chk-status"></mat-checkbox>
        </div>
    </div>
    <div fxLayout="row" class="expansion-panel-header">
            <div fxFlex="95">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <h3>This is the expansion title 2</h3>
                    </mat-expansion-panel-header>
    
                    <p>This is the primary content of the panel.</p>
                    <mat-divider></mat-divider>
                    <mat-selection-list>
                        <mat-list-option>
                            test 01
                        </mat-list-option>
                    </mat-selection-list>
                    <mat-selection-list>
                        <mat-list-option>
                            test 01
                        </mat-list-option>
                    </mat-selection-list>
                </mat-expansion-panel>
            </div>
            <div fxFlex="5">
                <mat-checkbox class="chk-status"></mat-checkbox>
            </div>
        </div>
</div>