<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary" class="fixed-header">
    <mat-toolbar-row>
        <i class="material-icons">assignment</i>
        <span>Retrospective Pad</span>
        
    </mat-toolbar-row>
</mat-toolbar>
<!-- <h2>Here are some links to help you start: </h2>
<ul>
    <li>
        <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
    </li>
    <li>
        <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
    </li>
    <li>
        <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
    </li>
</ul> -->

<router-outlet></router-outlet>