<mat-sidenav-container fullscreen>

    <mat-sidenav #sidenav mode="over">

        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <i class="material-icons">assignment</i>
                Retrospective Pad
            </mat-toolbar-row>
        </mat-toolbar>

        <mat-nav-list>

            <div mat-list-item class="circle">
                <span class="initials">V</span>
            </div>
            <p matSubheader>vikas@gmail.com</p>

            <mat-divider></mat-divider>

            <h2 matSubheader> test 1</h2>

            <a mat-list-item routerLink="board/create" (click)="sidenav.close()" routerLinkActive="list-item-active">
                <mat-icon matListIcon> assessment </mat-icon>
                Create Board
            </a>

            <mat-divider></mat-divider>


        </mat-nav-list>

    </mat-sidenav>

    <mat-sidenav-content role="main">
        <ng-content></ng-content>
    </mat-sidenav-content>

</mat-sidenav-container>