<div class="wrapper">

    <div class="card radius shadowDepth1">
        <div class="card__image border-tlr-radius" matRipple [matRippleColor]="getColor(sprintCard)">

        </div>

        <div class="card__content card__padding">
            <div class="card__share">
                <i class="material-icons share-toggle share-icon" matRipple
                    (click)="isEditing=!isEditing">{{isEditing ? 'save': 'edit'}}</i>
            </div>


            <article class="card__article">

                <div *ngIf="!isEditing">
                    <h2><a href="#">{{sprintCard.itemTitle}}</a></h2>
                </div>
                <mat-form-field class="field-width" *ngIf="isEditing">
                    <input matInput placeholder="Title" [(ngModel)]="sprintCard.itemTitle">
                </mat-form-field>

                <p *ngIf="!isEditing">{{sprintCard.itemText}}</p>

                <mat-form-field class="field-width" *ngIf="isEditing">
                    <textarea matInput placeholder="Description" [(ngModel)]="sprintCard.itemText"></textarea>
                </mat-form-field>

            </article>

        </div>

        <div class="card__action">

                <div class="content-overlay"></div>
                <div class="content-details fadeIn-bottom">
                    <!-- <i class="material-icons">list</i> -->
                    <a routerLink="/action-items">Action Items</a>
                </div>

            <div class="card__meta">
                <time>{{sprintCard.createdOn | date:'medium'}}</time>
            </div>
            <div class="card__author">
                <div class="card__author-content">
                    By <a href="#">{{sprintCard.createdBy}}</a>
                </div>
            </div>

        </div>

    </div>
</div>